.covered-text {
  position: relative;
  padding: 0 $padding-1;
  display: inline-flex;
  align-items: center;
  &:after {
    display: inline-block;
    position: absolute;
    left: 0;
    top: calc(50% - 5px);
    height: $padding-2;
    width: 100%;
    background: $green-4;
    content: '';
    opacity: 0.8;
  }
}
